name: Daily PubMed Update

on:
  schedule:
    - cron: '0 1 * * *' # 這代表每天國際標準時間 (UTC) 01:00，約台灣時間 09:00
  workflow_dispatch: # 讓你可以手動點擊按鈕測試

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install requests
      - name: Run script
        run: python pubmed_bot.py
